.demo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    
}



.title{
   display: flex;
   font-size: 60px;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   animation-name: move;
   animation-duration: 1s;
   animation-timing-function:cubic-bezier(.5,0.12,.55,1.34);
   animation-fill-mode: backwards;

}





@keyframes move {
    0% {
       transform: translatex(-1000px);
    }
    50% {
        transform:translatex(0px) ;
    }
}